<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>

    <body>
        <main id="cadastro">
            <section class="campoForm">
                <h2>Crie sua conta aqui.</h2>
                <form action="">
                    <section id="campoDadoPessoal">
                        <h3>Dados Pessoais</h3>
                        <div class="campoInfo">
                            <aricle class="boxInfoGrupo">
                                <div class="infoGrupo">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" name="nome" required>
                                </div>
                                <div class="infoGrupo">
                                    <label for="celular">Celular</label>
                                    <input type="text" id="celular" name="celular" required>
                                </div>
                            </aricle>
                            <aricle class="boxInfoGrupo">
                                <div class="infoGrupo">
                                    <label for="sobrenome">Sobrenome</label>
                                    <input type="text" id="sobrenome" name="sobrenome" required>
                                </div>
                                <div class="infoGrupo">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" id="telefone" name="telefone" required>
                                </div>
                            </aricle>
                        </div>
                    </section>

                    <section id="login">
                        <h3>Login</h3>
                        <aricle class="boxInfoGrupo">
                            <div class="infoGrupo">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                        </aricle>
                        <div class="campoInfo">
                            <aricle class="boxInfoGrupo">
                                <div class="infoGrupo">
                                    <label for="senha">Senha</label>
                                    <input type="password" id="senha" name="senha" required>
                                </div>
                            </aricle>
                            <aricle class="boxInfoGrupo">
                                <div class="infoGrupo">
                                    <label for="confirmarSenha">Confirmar Senha</label>
                                    <input type="password" id="confirmarSenha" name="confirmarSenha" required>
                                </div>
                            </aricle>
                        </div>
                    </section>

                    <section id="conta">
                        <h3>Tipos de Conta</h3>
                         <div class="campoInfo">
                            <aricle class="boxInfoGrupo">
                                <div class="infoGrupo">
                                    <input class="radio" type="radio" id="candidato" name="candidato" required>
                                    <label class="labelRadio" for="senha">Sou Candidato</label>
                                </div>
                            </aricle>
                            <aricle class="boxInfoGrupo">
                                <div class="infoGrupo">
                                    <input class="radio" type="radio" id="recrutador" name="contratante" required>
                                    <label class="labelRadio" for="senha">Sou Recrutador</label>
                                </div>
                            </aricle>
                        </div>
                    </section>

                    <button type="submit" class="enviar" >Criar Conta</button>
                </form>

                <p>Já tem uma conta?<a href="/login">Clique aqui para fazer login</a></p>
            </section>

            <section class="fundo">
                <div class='textoServ'>
                    <h1>ServMatch</h1>
                    <br>
                    <p>Encontre o seu match profissional</p>
                </div>
            </section>
        </main>
    </body>

</html>