<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class='mainLogin'>
      <section class='esquerda'>
        <div class='textoServ'>
          <h1>ServMatch</h1><br>
          <p>Encontre o seu match profissional</p>
        </div>
      </section>

      <section class='direita'>
        <form class='areaLogin' action="/usuarios/login" method="POST">

          <div class='email'>
            <label htmlFor="email">Email</label>
            <input type="text" id='email' name="email" required/>
          </div>

          <div class='senha'>
            <label htmlFor="login">Senha</label>
            <input type="password" name='senha' id='login' required/>
          </div>

          <button>Login</button>
          <div class='Links'>
            <a href="/cadastro">Criar Conta</a>
            <a href="/recuperarSenha" class='esqueceu'>Esqueceu a Senha?</a>
          </div>
        </form>
      </section>
    </main>
</body>
</html>