<%- include('../partials/topbar') %>
<%- include('../partials/aside') %>
<!-- MAIN : com o conteudo da pagina-->
 <main>

        <h1>Estou na pagina Usuarios / cadastrar</h1>

 </main>

 <%- include('../partials/footer') %>