<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina Inicial</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <%- include('../../partials/aside', { currentPage: 'home' }) %>
        <div class="main-wrapper">

            <%- include('../../partials/topbar') %>

            <main class="page-body">
                <h1>Bem Vindo</h1>
                <p>Bem-Vindo à busca de Profissionais. Aplique os filtros com base em sua vaga dos sonhos.</p>
                <h2>Alguns Profissionais</h2>

                <article id="campoCards">
                    <% if (usuarios && usuarios.length > 0) { %>
                        <% usuarios.forEach( function(usuario){ %>
                            <section class="card">
                                <a href="#" class="card-link">
                                    <div class="card-header">
                                        <div>
                                            <figure>
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbk1I9cJwZys_Y9hYXlqnEoEVGnVJH9WwFIw&s" alt=""> <!-- Voltar aqui depois para mudar para adicionar uma foto-->
                                            </figure>
                                        </div>
                                        <div>
                                            <h3><%= usuario.nome %></h3>
                                            <p>Desenvolvedor Back-End</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Descrição da vaga: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed vestibulum lacus.</p>
                                    </div>
                                    <div class="card-footer">
                                        <span>html</span><span>css</span><span>javascript</span>
                                    </div>
                                </a>
                            </section>
                        <% }) %>
                    <% } else {%>
                        <p>Não há usuários disponíveis.</p>
                    <% } %>
                </article>
            </main>
        </div>
    </body>
</html>