@import url(./login.css);
@import url(./cadastro.css);    
@import url(./layout.css);
@import url(./paginaContratante.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================================
   Variáveis do style.css original
   ================================ */

:root{
    --font-pequena-tamanho: 22px;
    --font-grande-tamanho: 30px;
    --cor-servmatch: #3586FF;
    --cor-fundo: white;
    --cor-cinza: #686868;
    --btn-background: #0BB137;
    --tamanho-height: 60px;
    --sidebar-width: 400px;
}